 
 <div class="div-padre">
    <div class="div-content">
<div>
<!-- <h2 class="tittle-shoping">Listado de productos ({{articles.length}})</h2> -->
<div  class="div-button-input">
    <div class="div-button">
    <button><img  class="button-cuadro" src="https://cdn-icons-png.flaticon.com/128/8618/8618278.png" alt=""></button>
    <button><img class="button-cuadro" src="https://cdn-icons-png.flaticon.com/512/5442/5442132.png" alt=""></button>
</div>
    <div class="input-search"><input  type="text" placeholder="🔎Buscador..."></div>
</div>
</div>

<app-gallery class="gallery-producs" [product]="articles"></app-gallery>
</div>
</div>
