

.img_products{
    width: 100%;
    height: 250px;
    object-fit:fill;
}
.box-card{
    // display: grid;
border: 2px solid rgba(242, 173, 44, 0.834);
width: 30%;
display: flex;
justify-content: center;
border-radius: 5px;
}
.conteiner{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    // align-items: center;
}
.value-edid{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.value{
    // width: 50%;
    display: flex;
    flex-direction: row;
}
.div-img{
    width: 100%;
    display: flex;
    align-items: center;
    // justify-content: center;
}
.c-g-div-info{
    padding: 10px;
    
}
