<div class="div-padre">
    <div class="div-conten">
    <div>
    <h2>Bienvedio a Shopéame</h2>
</div>
 
<div>
    <h3>¿Que es Shopéame?</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eaque quam dolorem aut, doloribus nihil dolor
        cumque doloremque voluptatibus. Dignissimos sint optio rem consequatur! Error ea libero minus culpa obcaecati?
    </p>
</div>

 <div>
    <h3>¿Para qué puedo usar Shopéame?</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi modi fugit ducimus dolores distinctio commodi
        quas exercitationem neque nemo necessitatibus maxime quam, praesentium quos aliquam ex deleniti excepturi!
        Mollitia, harum.</p>
    </div>

    <div>
    <h3>¿Quiénes hacemos en Shopéame?</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quasi praesentium iusto impedit magnam, cum
        repellendus, obcaecati eius facilis amet exercitationem numquam. Aspernatur quidem vel ipsa laborum accusantium
        accusamus necessitatibus?</p>
    </div>

    <div>
    <h3>¿Es seguro usar Shopéame?</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus, modi quas reprehenderit, tempora neque
        odit id vel quod laborum nulla ea. Aspernatur vel culpa fuga nesciunt assumenda accusamus quam. Dicta.</p>
    </div>
</div>

</div>