img{
    width: 80%;
    height: 300px;
}
.div-padre{
    display: flex;
    justify-content: center;
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
}
.div-Conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0px;
}
.div-marco{
    background-color: white;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.div-cuadro{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    width: 80%;
}
.product{
    border-left: 3px solid rgba(242, 173, 44, 0.834);
}
.product-box{
margin: 20px;
}
.div-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imput-data{
    width: 100%;
    padding: 10px;
}
.form-imputs{
    width: 50%;
}
.bton-a{
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
}